* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  color: #666;
}

.container {
  max-width: 600px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.top_search {
  padding: 15px 0;
  display: flex;
}
#search-input,
#search-button,
#category-button {
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 5px;
  margin-right: 5px;
}

#search-input {
  width: 250px;
}
#search-button,
#category-button {
  cursor: pointer;
}
#category {
  width: 300px;
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  background-color: #666;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}
#category a {
  color: #fff;
  text-decoration: none;
}
#category label {
  display: inline-block;
  padding: 5px;
}

.slide {
  margin: 0 auto;
  padding: 10px 0;
}
.slide img {
  height: 150px;
}

#results {
  display: flex;
  flex-wrap: wrap;
}
.result-item {
  width: 110px;
  margin-bottom: 10px;
  font-size: 13px;
  white-space: nowrap; /* 자동 줄바꿈 금지 */
  overflow: hidden; /* 글자가 가로폭을 초과할 때 숨기기 */
  text-overflow: ellipsis; /* 글자가 가로 폭을 초과할 때 말줄임 처리 */
}
.result-item label {
  padding-left: 5px;
}
.result-img {
  width: 102px;
  margin-bottom: 5px;
  border: 1px solid #bbb;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  margin: 5px;
}

.result-img img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.popup {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  max-height: 80%; /* 최대 높이 설정 */
  overflow-y: auto; /* y축 스크롤 활성화 */
  text-align: center;
  font-size: 14px;
}
.popup-content p {
  text-align: left;
}
#meal-image {
  width: 300px;
  height: auto;
  margin: 10px;
  border-radius: 5px;
}
.close-button {
  cursor: pointer;
  color: #aaa;
  float: right;
  font-size: 28px;
}

.close-button:hover {
  color: black;
}
